$width: 600px;
// $parts: 4;
$parts: 3;  // if changing the parts also remove one span
$partWidth: $width / $parts;
$loop: $parts - 1;

.box {
  position: relative;
  width: $width;
  height: 400px;
  background-color: black;
}

.box .face span {
  width: $partWidth;
  height: 100%;
  transition: transform 1s;
}

@for $i from 0 through $loop {
  $positionX: $partWidth * -1;
  $delay: 0.2s;
  .box .face span:nth-child(#{$i + 1}) {
    background-position-x: #{$i * $positionX};
    transition-delay: #{$i * $delay};
  }
}